:root {
    --header:'Crete Round', serif;
    --phoppins:  'Poppins', sans-serif;
    --inetr : 'Inter', sans-serif;
    --ropo: 'Roboto', sans-serif;
    --grey: #3E3C3C;
    --black-main:#1C1A19;
    --orange: #FF6B00;
}

/* Global */

/* Header */

.navbar {
    height: 72px;
    background-color: #3E3C3C;
}

.envelopeCon {
    width: 100px;
    font-size: 13px;
}

.navToggle {
    background-color: transparent;
    border: 0;
    outline: 0;
}

header .mainImg {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    background-color: var(--black-main);
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    position: relative;
    overflow: hidden;
}

header .Img {
    position: absolute;
    height: calc(100vh - 72px);
    background-image: url(../Imgs/main.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 443px;
    right: 0;
}

header .mainImg ul {
    list-style-type: none;
}

header .mainImg ul li {
    padding: 5px;
}

header .mainImg .text .head {
    font-size: 72px;
    font-family: var(--header);
    color: var(--orange);
    width: 400px;
}

header .mainImg .text .subHead {
    font-family: var(--inetr);
    color: white;
    font-size: 32px;
}

header .mainImg .text p {
    font-family: var(--inetr);
    color: white;
    font-size: 20px;
    width: 500px;
    padding-top: 20px;
}

header .mainImg .ulCon {
    width: fit-content;
    position: absolute;
}

/* Header End */

/* Main section */

.mainSection .header {
    padding: 100px 0;
    font-size: 40px;
    font-family: var(--header);
    position: relative;
    display: flex;
    align-items: center;
}

.mainSection .header::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 400px);
    background-color: #212121;
    right: 50px;
    transform: translateY(-5px);
}

.mainSection .headText {
    font-family: var(--header);
    font-size: 40px;
}

.mainSection .words {
    font-size: 20px;
    font-family: var(--inetr);
} 

.mainSection .buttonHolder button {
    background-color: white;
    border: solid 1px #bbb;
    padding: 10px;
}

.mainSection .mButton button {
    background-color: #F55800;
    color: white;
    border: none;
    padding: 12px;
}

.mainSection .mPost {
    margin-bottom: 24px;
}

.mainSection .cardsHolder .box {
    background: linear-gradient(to bottom, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%) ,url(../Imgs/im1.png);
    background-size: cover;
    margin-bottom: 20px;
    padding: 20px;
    height: 435px;
    width: 100%;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition-duration: 1s;
    position: relative;
}

.mainSection .cardsHolder .box .text h2 {
    color: white;
    font-family: var(--header);
    font-size: 32px;
    margin-bottom: 20px;
}

.mainSection .cardsHolder .box .text p {
    color: white;
    font-family: var(--inetr);
    font-size: 17px;
}

.mainSection .cardsHolder .box div {
    transition-duration: 0.3s;
}

.mainSection .cardsHolder .box:hover > div {
    opacity: 0;
}

.mainSection .cardsHolder .box .buttonHolder button {
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    font-family: var(--inetr);
    border: none;
}

.mainSection .cardsHolder .colCard {
    overflow: hidden;
    position: relative;
}

.mainSection .cardsHolder .orngeCard {
    width: calc(100% - 24px);
    position: absolute;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 35px;
    left: 12px;
    height: 0px;
    background-color: var(--orange);
    transition-duration: 0.3s;
    font-weight: bold;
}

.mainSection .cardsHolder .box:hover ~ .orngeCard {
    height: 50px;
    color: white;
    box-shadow: 0 0 270px 160px white;
}


/* about me sec */

.aboutMe {
    background-color: var(--black-main);
    margin-top: 130px;
}

.aboutMe .mainSec {
    display: flex;
    padding: 130px 0;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.aboutMe .mainSec .text h1 {
    color: var(--orange);
    font-family: var(--header);
    font-size: 72px;
    margin: 0;
}

.aboutMe .mainSec .text p {
    font-family: var(--inetr);
    color: white;
    inline-size: 443px;
    overflow-wrap: break-word;
    margin: 24px 0;
}

.aboutMe .mainSec button {
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    border: 0;
    padding: 8px;
}

.aboutMe .mainSec .Img {
    position: absolute;
    height: 268px;
    background-image: url(../Imgs/Frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 443px;
    right: 0;
}

.aboutMe .listSec .container {
    padding: 130px 0px;
}

.aboutMe .listSec .box h2 svg {
    color: var(--orange);
    width: 18px;
    height: 18px;
    transform: translate(0px,-5px);
}

.aboutMe .listSec .box .rhombus {
    transform: rotate(45deg) translate(-7px,-2px);
}

.aboutMe .listSec .box h2 {
    color: white;
}

.aboutMe .listSec .box  ul{
    color: white;
    list-style-type: none;
    font-family: var(--inetr);
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.aboutMe hr {
    color: white;
    opacity: 1;
    margin: 0;
}

/* End */

/* End Main  */


@media (max-width: 776px) {
    header .Img {
        position: absolute;
        height: 50%;
        top: 370px;
        right: -280px;
    }

    .aboutMe .mainSec .Img {
        position: absolute;
        height: 250px;
        background-image: url(../Imgs/Frame.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 450px;
        right: -280px !important;
        bottom: 0;
    }

    .aboutMe .mainSec .text p {
        inline-size: 350px;
    }

    .aboutMe .mainSec {
        padding: 130px 0 209px 0;
    }
}

@media (max-width: 997px) {

    /* Header */

    .ulCon {
        width: 100% !important;
    }

    header .mainImg .text .head {
        font-size: 52px;
        overflow-wrap: break-word;
        inline-size: 255px;
    }

    header .mainImg .text .subHead {
        font-size: 24px;
    }

    header .mainImg .text p {
        font-size: 16px;
        overflow-wrap: break-word;
        inline-size: 320px;
    }

    header .mainImg ul {
        list-style-type: none;
        padding: 0;
    } 

    .ulCon {
        position: relative !important;
    }
    
    header .mainImg ul li {
        padding: 10px;
    }

    /* Header End */

    /* mainSec  */
    .mainSection .header {
        justify-content: center;
        align-items: flex-end;
    }

    .mainSection .head {
        height: 70px;
    }

    .mainSection .header::after {
        width: calc(100% - 90px);
        background-color: #212121;
        right: 50px;
    }

    .mainSection .headText {
        font-family: var(--header);
        font-size: 32px;
        margin-top: 20px;
    }
    
    .mainSection .words {
        font-size: 16px;
        font-family: var(--inetr);
    } 

    .mainSection .cardsHolder .box {
        height: 386px;
        width: 100%;
    }
    

    /* End */

    /* about Me */

    .aboutMe .mainSec .Img {
        position: absolute;
        background-image: url(../Imgs/Frame.png);
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
        bottom: 0;
    }

    /* End */
}

